.view-apartment-page-header .Inactive {
  color: red;
}
.view-apartment-page-header .Active {
  color: green;
}
.summary-content {
  padding-bottom: 1em;
}
.view-apartment-images .apartment-carousel {
  width: 300px;
  height: 200px;
}
.view-apartment-images .carousel-image {
  width: 300px;
  height: 200px;
}

.view-apartment-images .btn-group {
  padding-top: 1em;
}
