.view-apartment-page-header .Inactive {
  color: red;
}
.view-apartment-page-header .Active {
  color: green;
}
.view-apartment-page-footer {
  padding: 0.5em 1em 2em 1em;
}

.view-apartment-images .apartment-carousel {
  width: 300px;
  height: 200px;
}
.view-apartment-images .carousel-image {
  width: 300px;
  height: 200px;
}

.view-apartment-images .btn-group {
  padding-top: 1em;
}

.booking-part .booking-card {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
  padding: 5px;
}

.view-comments .username {
  font-style: italic;
}

.view-apartment-location .location-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 1em;
}

.view-apartment-location .location-details .summary-content {
  margin: 0.2em;
}
.view-apartment-location .location-details .ol-map {
  margin: 0.1em;
  width: 500px;
}
