.apartment-card .apartment-carousel {
  width: 300px;
  height: 200px;
}
.apartment-card .carousel-image {
  width: 300px;
  height: 200px;
}

.apartment-card .card-header {
  padding: 5px;
}

.apartment-card-main {
  max-width: 310px;
}

.apartment-card {
  margin: 1em;
}
