.apartment-card .apartment-carousel {
  width: 300px;
  height: 200px;
}
.apartment-card .carousel-image {
  width: 300px;
  height: 200px;
}

.apartment-card .card-header {
  padding: 5px;
}
.apartment-card .card-text {
  margin-bottom: 0.2em;
}
.apartment-card .card-body,
.apartment-card .card-footer {
  padding: 0.5em 1em;
}

.apartment-card-main {
  max-width: 310px;
}

.apartment-card {
  margin: 1em;
}
