.apartment-map-display {
  padding: 1em;
}

.apartment-map-display .ol-map {
  min-width: 500px;
  min-height: 400px;
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
  margin: 2rem;
}

.apartment-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding-top: 2em;
}

.modal-reservations-filter .DayPickerInput {
  display: block;
}

.modal-reservations-filter .DayPickerInput input {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
